$color-gray-100: #f4f3f1;
$color-gray-200: #dddbd8;
$color-gray-300: #ccc9c6;
$color-gray-400: #aeaba7;
$color-gray-500: #8a8784;
$color-gray-550: #808080;
$color-gray-600: #656360;
$color-gray-700: #4b4a47;
$color-gray-800: #31302e;
$color-gray-900: #1f1d1b;
$color-gray-1000: black;

$color-blue-100: #4285f4;
$color-blue-200: #357ae8;
